
.middle {
    height: 100%;
    padding-top: 5em;
}

img {
    width: 40em;
    max-width: 100%;
}

.photo-gallery {
    width: 40em;
    max-width: 100%;
    margin: 0 auto;
}

.solid-pane {
    display: block;
    text-align: center;
    background-color: rgba(5, 5, 5, 0.7);
    margin-left: auto;
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    padding: .25em 1em;
}

h1 {
}