body, html {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  margin: 0;
  padding: 0;
  background: radial-gradient(rgba(200, 100, 15, 0.6), rgba(0, 0, 0, 0)), url('../images/halfdome_bread.jpg');
  background-position: center;
  background-size: cover;

  height: 100%;
  width: 100%;
  position: fixed;
}

.nav {
  background: rgba(0, 0, 0, .75);
  height: 2em;
  vertical-align: middle;
}

@media (max-width: 625px) {
  .nav {
    height: 4em
  }
}

.nav-item {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  text-align: center;
}

.nav-item a {
  color: rgb(173, 216, 230);
  text-decoration: none;
  line-height: 1.9em;
  vertical-align: middle;
  text-align: center;
}

.nav-item:hover {
  color: red;
  background: rgba(255, 255, 255, 0.1);
}

.splash {
  height: calc(100% - 2em);
  width: 100%;
  position: absolute;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  color: white;
}

.wow-banner {
  position: fixed;
  font-size: 20px;
  bottom: 0;
  left: 16px;
  color: white;
}

.middle {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  overflow-y: scroll;
}

.middle-center {
  top: 50%;
  transform: translate(-50%, -50%);
}

hr {
  margin: auto;
  width: 40%;
}

mark {
  display: inline-block;
  background-color: rgba(173, 216, 230, .8);
  padding-left: .5em;
  padding-right: .5em;
  height: 2em;
  line-height: 2em;
  vertical-align: center;
}

.solid-pane {
  display: block;
  text-align: center;
  background-color: rgba(5, 5, 5, 0.7);
  margin-left: auto;
  width: calc(100% - 2em);
  max-width: 40em;
  margin: 0 auto;
  padding: .25em 1em;
}

.title-pane {
  background-color: rgba(0, 0, 0, 0.9);
}

.subtitle-pane {
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
